<div layout="column" flex>

  <div flex class="md-padding">
    <div layout="row" layout-align="center center">
      <h3>Dashboard</h3>
    </div>

    <div layout="row" layout-align="start center">
      <p>Hola {{user.username}}!</p>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="">Join a clan</md-button>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="">Create a clan</md-button>
    </div>


  </div>
</div>
