<div layout="column" flex>

  <div flex class="md-padding">
    <div layout="row" layout-align="center center">
      <h3>Dashboard</h3>
    </div>

    <div layout="column" layout-align="start center">
      <p>Hola {{user.username}}!</p>
      <p>Clan: {{user.clanName || 'None'}}</p>

      <md-switch class="md-primary" ng-model="user.inWar" ng-click="dashCtrl.toggleWar();"
          md-no-ink aria-label="Toggle War">
        War
      </md-switch>
    </div>

    <div ng-hide="!! user.clanID">
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="dashCtrl.joinClan($event)">Join a clan</md-button>
      </div>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="dashCtrl.createClan()">Create a clan</md-button>
      </div>
    </div>

    <div ng-show="!! user.clanID">
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="dashCtrl.gotoMembers()">Clan Members</md-button>
      </div>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="">Clan War</md-button>
      </div>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-warn" ng-click="dashCtrl.leaveClan($event)">Leave Clan</md-button>
      </div>
    </div>

  </div>
</div>
