<div layout-margin>
  <md-checkbox
      ng-model="mem.sortable"
      aria-label="Sort"><ng-md-icon icon="sort"></ng-md-icon>Sort Members</md-checkbox>
</div>

<div layout="column" flex>
  
  <div flex class="md-padding">
    <div flex>
      <md-list>
        <div ng-repeat="item in mem.members">
          <div ng-include="'templates/memberList.html'"></div>
        </div>
      </md-list>
    </div>

    <div flex>
      <div>
        <md-button class="md-raised md-primary" ng-click="mem.applyChanges()">Save Changes</md-button>
      </div>

      <fieldset class="standard">
        <legend>Add a new member</legend>
        <form ng-submit="mem.addToMembers()">
          <md-input-container>
            <label>Member Name</label>
            <input ng-model="mem.newMember">
          </md-input-container>
          <md-button class="md-raised md-primary" type="submit">Add</md-button>
        </form>
      </fieldset>

      <div>
        <md-checkbox ng-model="mem.delete" aria-label="Delete">
          <ng-md-icon icon="delete"></ng-md-icon>
          Delete Members
        </md-checkbox>
      </div>

    </div>


  </div>
</div>
