<md-list-item class="{{mem.getColor(item.war)}}" layout-margin layout-padding>
  <p>{{ item.name }} </p>

  <div ng-show="mem.sortable">
    <md-button title="Move up" aria-label="move up"
      class="md-icon-button" ng-click="mem.moveUp(item)">
      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
    </md-button>
    <md-button title="Move down" aria-label="move down"
      class="md-icon-button" ng-click="mem.moveDown(item)">
      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
    </md-button>
  </div>

  <md-button class="md-raised md-primary">Edit</md-button>

</md-list-item>
