<md-list-item class="{{mem.getColor(item.war)}}" layout-margin layout-padding>
  <ng-md-icon icon="person" size="20"></ng-md-icon>
  <p>{{ item.name }} </p>

  <div ng-show="mem.sortable">
    <md-button title="Move up" aria-label="move up"
      class="md-icon-button" ng-click="mem.moveUp(item)">
      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
    </md-button>
    <md-button title="Move down" aria-label="move down"
      class="md-icon-button" ng-click="mem.moveDown(item)">
      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
    </md-button>
  </div>

  <md-button class="md-raised md-primary" ng-click="mem.openEditor($event, item)">Edit</md-button>

  <md-button class="md-icon-button" aria-label="Delete Member" ng-show="mem.delete" ng-click="mem.deleteMember($event, item)">
    <ng-md-icon icon="close" size="20"></ng-md-icon>
  </md-button>

</md-list-item>
