<div layout-margin layout-padding>
  <md-checkbox
      ng-model="mem.sortable"
      aria-label="Sort"><ng-md-icon icon="sort"></ng-md-icon>Sort Members</md-checkbox>
</div>

<div layout="column" flex>
  
  <div layout-gt-md="row" flex class="md-padding">
    <div flex>
      <md-list>
        <div ng-repeat="item in mem.members">
          <div ng-include="'templates/memberList.html'"></div>
        </div>
      </md-list>
    </div>

    <div flex>
      <div>
        <h4>Add a new member</h4>
        <form ng-submit="mem.addToMembers()">
          <label>Name:</label>
          <input type="text" ng-model="mem.newMember" placeholder="Enter member name">
          <md-button class="md-raised md-primary" type="submit">Add</md-button>
        </form>
      </div>

      <div>
        <md-button class="md-raised md-primary" ng-click="mem.applyChanges()">Apply Changes</md-button>
      </div>
    </div>

  </div>
</div>
