<md-dialog aria-label="WarMap Edit">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Target Edit</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;">
      <div>
        <md-input-container>
          <label>Target</label>
          <input ng-model="target.number" disabled>
        </md-input-container>
        <md-input-container>
          <label>Player</label>
          <md-select ng-model="target.player" aria-label="Player Selector">
            <md-option ng-repeat="player in players" value="{{ player.name }}">
              {{ player.name }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer(target)">Done</md-button>
    </div>
  </form>
</md-dialog>
